* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  padding: 20px;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(125deg, #93a5cf, #e4efe9);
}

h1 {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

input,
select,
button {
  padding: 8px;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #333;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 2px solid #2e3a59;
  text-align: center;
}

#summary {
  display: flex;
  gap: 20px;
}
